*{
  margin: 0;
  padding: 0;
}

body{
  background: #f1f1f1;
}

.container{
  width: 35%;
  margin: 30px auto;
}

.signup,
.login{
  width: 50%;
  background: #fff;
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.signup-form,
.login-form{
  background: #fff;
  padding: 40px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  height: 400px;
}

.signup-form {
	height:500px;
}

.input{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #dedede;
  color: black;
  font-size: 14px;
  outline: none;
  transform: all 0.5s ease;
}

.btn{
  width: 100%;
  background: darkblue;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

span a{
  text-decoration: none;
  color: #000;
}
